@using InvestmentPoint.Admin.Domain.Common
@model CustomerModel
@{
    ViewData["Title"] = "Add Customer";
    Layout = "~/Views/Shared/Master/_AdminLayout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Employee</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Employee</a></li>
                    <li class="breadcrumb-item active">ListEmployee</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<form method="post">
    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputName1" asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" asp-for="Email"></label>
            <input type="text" asp-for="Email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputMobileNo1" asp-for="MobileNo"></label>
            <input type="text" asp-for="MobileNo" class="form-control" id="exampleInputMobileNo1" placeholder="Mobile No">
        </div>
        <div class="form-group">
            <label for="exampleInputAadharNo1" asp-for="AadharNo"></label>
            <input type="text" asp-for="AadharNo" class="form-control" id="exampleInputAadharNo1" placeholder="Aadhar No">
        </div>
        <div class="form-group">
            <label for="exampleInputPanNo1" asp-for="PanNo"></label>
            <input type="text" asp-for="PanNo" class="form-control" id="exampleInputPanNo1" placeholder="Pan No">
        </div>
        <div class="form-group">
            <label for="exampleInputArea1" asp-for="Area"></label>
            <input type="text" asp-for="Area" class="form-control" id="exampleInputArea1" placeholder="Area">
        </div>
        <div class="form-group">
            <label for="exampleInputAddress1" asp-for="Address"></label>
            <input type="text" asp-for="Address" class="form-control" id="exampleInputAddress1" placeholder="Address">
        </div>
        <div class="form-group">
            <label for="exampleInputTypeOfInvestment1" asp-for="TypeOfInvestment"></label>
            <input type="text" asp-for="TypeOfInvestment" class="form-control" id="exampleInputTypeOfInvestment1" placeholder="Type Of Investment">
        </div>
        <div class="form-group">
            <label for="exampleInputMonthlyAmount1" asp-for="MonthlyAmount"></label>
            <input type="text" asp-for="MonthlyAmount" class="form-control" id="exampleInputMonthlyAmount1" placeholder="Monthly Amount">
        </div>
        <div class="form-group">
            <label for="exampleInputMonthlyAmount1" asp-for="MonthlyAmount"></label>
            <input type="text" asp-for="MonthlyAmount" class="form-control" id="exampleInputMonthlyAmount1" placeholder="Monthly Amount">
        </div>
        <div class="form-group">
            <label for="exampleInputCollectionAmount1" asp-for="CollectionAmount"></label>
            <input type="text" asp-for="CollectionAmount" class="form-control" id="exampleInputCollectionAmount1" placeholder="Collection Amount">
        </div>
        <div class="form-group">
            <label for="exampleInputAccountNumber1" asp-for="AccountNumber"></label>
            <input type="text" asp-for="AccountNumber" class="form-control" id="exampleInputAccountNumber1" placeholder="Account Number">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" asp-for="Password"></label>
            <input type="Password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>