@using InvestmentPoint.Admin.Domain.Common
@model InvestTypeModel
@{
    ViewData["Title"] = "AddInvestType";
    Layout = "~/Views/Shared/Master/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">InvestmentType</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">InvestmentType</a></li>
                    <li class="breadcrumb-item active">AddInvestType</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<form method="post">
    <div class="card-body">
        <div class="form-group col-md-6">
            <label for="exampleInputName1" asp-for="InvestmentName">Investment Name</label>
            <input type="text" asp-for="InvestmentName" class="form-control" id="exampleInputName1" placeholder="Investment Name">
        </div>

    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
